include ../layout/_mixins

doctype html
html(lang="ru")
	- var title = 'Main | Company name'
	include ../layout/_head
	
	body
		|
		|
		|
		// Header
		include ../layout/_header

		|
		|
		|
		section.b-brand-page 
			.container 
				._title Популярные бренды
				._box
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png") 
				._box
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
				._box
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
				._box
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
					._item 
						img(src="img/brand/img.png")
				._more 
					.btn.btn--more.show-more-js Загрузить ещё
				._title Бренды по названию
				._alphabet 
					span._alphabet_text A 
					span._alphabet_text B
					span._alphabet_text C
					span._alphabet_text D 
					span._alphabet_text E
					span._alphabet_text F
					span._alphabet_text G 
					span._alphabet_text H
					span._alphabet_text Z
				._search 
					input._search_input 
				.b-output
					._item 
						._letter A 
						._box 
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
					._item 
						._letter A 
						._box 
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene

							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
					._item 
						._letter K 
						._box 
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene

					._item 
						._letter E 
						._box 
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
					._item 
						._letter P
						._box 
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene
							span Ambrobene







		| 
		|
		|
		// Footer
		include ../layout/_footer