include ../layout/_mixins

doctype html
html(lang="ru")
	- var title = 'Main | Company name'
	include ../layout/_head
	
	body
		|
		|
		|
		.container 
			nav(style="margin-top: 150px") 
				li 
					a(href="home.html") Главная
				li 
					a(href="brand.html") Бренды
				li 
					a(href="category.html") Страница категории
				li 
					a(href="search.html") Страница поиска
				li 
					a(href="product.html") Страница товара
				li 
					a(href="basket.html") Корзина
				li 
					a(href="authorization.html") Авторизация
				li 
					a(href="registration.html") Оформление
				li 
					a(href="order.html") Заказ принят
				li 
					a(href="404.html") 404
