footer.b-footer
	.container
		._box
			.b-nav-footer._nav 
				._item 
					a(href="#")._link Контакты
					a(href="#")._link Всё о нас
					a(href="#")._link Информация о заказах
					a(href="#")._link Больше информации
				._item 
					a(href="#")._link Каталог
					a(href="#")._link Бренды
					a(href="#")._link Акции
					a(href="#")._link Лечение в Германии
			.b-discount._discount 
				._text Получите уникальные скидки на ваш email. 
					br 
					| Дарим -10% при подписке.
				form(action="")
					._form 
						input(type="text" placeholder="ivan@mail.ru")._input 
						button._btn Получить скидку
				._p 
					i.icon-protection
					| Никакого спама

			.b-info._info
				a(href="tel:+79898472823")._phone +7 (989) 847 28-23
				.b-sociol._social 
					a(href="#")._fb 
					a(href="#")._vk 
					a(href="#")._in 
				a(href="#")._link Политика обработки данных

|
|
|
// Scripts
script(src="js/libs.min.js")
script(src="js/main.min.js")