header.header 
	.container
		.b-header-top
			.b-nav._nav 
					a(href="#")._link Доставка 
					a(href="#")._link Оплата 
					a(href="#")._link Контакты
			a(href="tel:+79991242424").b-phone--header._phone +7 999 124-24-24
			.b-language._language 
				._box 
					._item
						._img 
							img(src="img/svg/ru-img.svg")
						._text RU
						._arrow 
				._box.language__box--exit
					a(href="#")._item
						._img 
							img(src="img/svg/de-img.svg")
						._text DE
						._arrow 
.container.z-index
	.b-header-middle.header-two 
		a(href="#").b-logo._logo 
			img(src="img/svg/logo.svg")._img 
			span._text Лекарства 
				br
				| из Германии
		.b-button-header._button-header 
			.b-user._user 
				._click
					img(src="img/svg/user-btn.svg")._img 
					._text Войти 
						._arrow 
				//- .b-popup-user._popup.popup-user-entry(style="display: none;") 
				//- 	a(href="#")._item Авторизация
				//- 	a(href="#")._item Регистрация
				.b-popup-user._popup.popup-user-user(style="display: none;") 
					._title Здравствуйте, Тимур
					a(href="#")._item Мои заказы
					a(href="#")._item Настройки
					a(href="#")._item Лететь в Германию 
					a(href="#")._logOff Выйти




