.b-nav-mobile
	._top 
		._logo 
			img(src="img/svg/logo.svg")
		._closed 
			img(src="img/svg/closed.svg")
	._scroll
		.b-category-mobile._category
			._item 
				._img 
					img(src="img/category-home/img1.jpg") 
				a(href="#")._title Медикаменты и другие товары
			._item 
				._img 
					img(src="img/category-home/img2.jpg") 
				a(href="#")._title Семья и дети
			._item 
				._img 
					img(src="img/category-home/img3.jpg") 
				a(href="#")._title Красота и уход
			._item 
				._img 
					img(src="img/category-home/img4.jpg") 
				a(href="#")._title Диета, спорт и похудение
			._item 
				._img 
					img(src="img/category-home/img5.jpg") 
				a(href="#")._title Для животных
			._item 
				._img 
					img(src="img/category-home/img6.jpg") 
				a(href="#")._title Натуральные препараты
		._hr 
		._nav 
			a(href="#")._link.active Разделы
			a(href="#")._link Каталог
			a(href="#")._link Бренды
			a(href="#")._link Акции
			a(href="#")._link Лечение в Германии
		.b-footer-nav-mobile._footer 
			._text Получите уникальные скидки на ваш email.  Дарим -10% при подписке.
			form(action="")
				._form 
					input(type="text" placeholder="ivan@mail.ru")._input 
					button._btn Получить скидку
			._p 
				i.icon-protection
				| Никакого спама
			._info 
				._title Информация
				a(href="#")._link Всё о нас
				a(href="#")._link Контакты
				a(href="#")._link Заказы
				a(href="#")._link Больше информации
			.b-sociol._social 
				a(href="#")._fb 
				a(href="#")._vk 
				a(href="#")._in 